.bttn {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.bttn:hover {
  background-color: #4caf50;
  color: white;
}
